---
- name: Create vmagent config directory
  file:
    path: "{{ vmagent_config_dir }}"
    state: directory
    owner: "{{ vmagent_user }}"
    group: "{{ vmagent_group }}"
    mode: "0755"

- name: Create vmagent data directory
  file:
    path: "{{ vmagent_data_dir }}"
    state: directory
    owner: "{{ vmagent_user }}"
    group: "{{ vmagent_group }}"
    mode: "0755"

- name: Create empty prometheus.yml if it does not exist
  file:
    path: "{{ vmagent_promscrape_config }}"
    state: touch
    owner: "{{ vmagent_user }}"
    group: "{{ vmagent_group }}"
    mode: "0644"
    modification_time: preserve
    access_time: preserve

- name: Create vmagent systemd service
  template:
    src: vmagent.service.j2
    dest: /etc/systemd/system/vmagent.service
    owner: root
    group: root
    mode: "0644"
  notify: restart vmagent

- name: Ensure vmagent service is started and enabled
  systemd:
    name: vmagent
    state: started
    enabled: yes
