---
- name: Create vmagent group
  group:
    name: "{{ vmagent_group }}"
    state: present

- name: Create vmagent user
  user:
    name: "{{ vmagent_user }}"
    group: "{{ vmagent_group }}"
    shell: /sbin/nologin
    system: yes
    create_home: no

- name: Download and unarchive vmagent
  unarchive:
    src: "{{ vmagent_download_url }}"
    dest: "/tmp"
    remote_src: yes
    creates: "/tmp/vmagent-prod"

- name: Move vmagent binary to install path
  copy:
    src: "/tmp/vmagent-prod"
    dest: "{{ vmagent_bin_path }}"
    owner: "{{ vmagent_user }}"
    group: "{{ vmagent_group }}"
    mode: "0755"
    remote_src: yes
  notify: restart vmagent
